<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myname="http://www.maowei.com/schema/person"
       xsi:schemaLocation="
	   http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.maowei.com/schema/person
	   http://www.maowei.com/schema/spring-person.xsd">

    <myname:person id="a00001" name="alex" age="15"/>

</beans>